/* PC端默认字体大小 */
html{font-size: 14px;}
/* 移动端端默认字体大小 */
/* html{font-size: 10px;} */
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,sans-serif;}
/* 移动端 字体、点击隐阴影、字体圆滑、手机横竖屏字体保持一致 */ 
body{font-family:Helvetica; -webkit-tap-higlight-color: transparent; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust:none；}
/* 要注意表单元素并不继承父级 font 的问题 */
select, input, textarea { margin:0;font-family:"Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,sans-serif;-webkit-appearance:none; /*去除input默认样式*/}
/* 去掉各Table cell 的边距并让其边重合 */
table {border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align*/
th {text-align:left;}
/* 去除默认边框 */
fieldset,img {border:none;}
/*图片块状化*/
img{display: block;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {border:none;font-variant:normal;} 
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
/* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}  
textarea { resize:none; }
select, input { vertical-align:middle; } 
/* 让链接在 hover 状态下显示下划线 */
a:hover {text-decoration:none;}
/* 默认不显示下划线，保持页面简洁 */
a {text-decoration:none;}
/* IE6,7焦点点状线去除 */
a:focus,*:focus {outline:none;}
/* 清除浮动 */
.row:before,.row:after {content:"";display:table;}
.row:after {clear:both;overflow:hidden;}
.row {zoom:1; /* for IE6 IE7 */} 

/* 盒子模型 */
.border-box{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

/* 单行溢出隐藏 */
.ovf-1{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* 2行行溢出隐藏 */
.ovf-2{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
/* 3行行溢出隐藏 */
.ovf-3{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

/*箭头向下的三角形*/
.arrowBot {border-color:  #666 transparent transparent; border-style: solid dashed dashed ; border-width: 4px; height: 0; position: absolute; right: 5px; top: 11px; width: 0; }
 /*箭头向上的三角形*/ 
.arrowTop {border-color: transparent transparent #333; border-style: dashed dashed solid; border-width: 6px; height: 0; position: absolute; right: 12px; top: -4px; width: 0; }

/* palceholder默认样式 */
::-webkit-input-placeholder { /* WebKit browsers */
color:#ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:#ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color:#ccc;
}

/*写一个伪类，实现retina屏幕1px*/
/*border-top*/
.line-top{position:relative;}
.line-top:after{
	content:'';position:absolute;top:0;left:0;width: 100%;height:1px;background: #cacaca;
}
/*border-right*/
.line-right{position:relative;}
.line-right:after{
	content:'';position:absolute;right:0;top:0;width: 1px;height: 100%;background: #cacaca;
}
/*border-bottom*/
.line-bottom{position:relative;}
.line-bottom:after{
	content:'';position:absolute;left:0;bottom:0;width: 100%;height: 1px;background: #cacaca;
}
/*border-left*/
.line-left{position:relative;}
.line-left:after{
	content:'';position:absolute;left:0;top:0;width: 1px;height: 100%;background: #cacaca;
}
/*border*/
.line-border{position:relative;}
.line-border:after{
	content:'';position:absolute;left:0;top:0;width: 100%;height: 100%;border:1px solid #999;-webkit-box-sizing:border-box;box-sizing:border-box; 
}

@media(-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){ 
	.line-top:after{
		-webkit-transform:scaleY(0.5);transform:scaleY(0.5);-webkit-transform-origin: 0 0;transform-origin: 0 0;
	}
	.line-right:after{
		-webkit-transform:scaleX(0.5);transform:scaleX(0.5);-webkit-transform-origin: 0 0;transform-origin: 0 0;
	}
	.line-left:after{
		-webkit-transform:scaleX(0.5);transform:scaleX(0.5);-webkit-transform-origin: 0 0;transform-origin: 0 0;
	}
	.line-bottom:after{
		-webkit-transform:scaleY(0.5);transform:scaleY(0.5);-webkit-transform-origin: 0 0;transform-origin: 0 0;
	}
	.line-border:after{
		width: 200%;height: 200%;-webkit-transform:scale(0.5);transform:scale(0.5);-webkit-transform-origin: 0 0;transform-origin: 0 0;
	}
}
  

 
/* 媒体查询区间 */

/* 
@media (max-width: 767px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {
    
}
@media (min-width: 992px) and (max-width: 1199px) {
  
}
@media (min-width: 1200px) {
  
}  */
 
