/* common */ 
.container-full{width: 100%;min-width: 1210px;}
.container{width: 1210px;margin:0 auto;}  

/* col1 - col12 */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{float: left;display: inline-table;}

.col-1{width: 8.33333333%;}
.col-2{width: 16.6666667%;}
.col-3{width: 25%;}
.col-4{width: 33.3333333%;}
.col-5{width: 41.6666667%;}
.col-6{width: 50%;}
.col-7{width: 58.3333333%;}
.col-8{width: 66.6666667%;}
.col-9{width: 75%;}
.col-10{width: 83.3333333%;}
.col-11{width: 91.6666667%;}
.col-12{width: 100%;}

/* text-algin */
.t-algin-l{text-align: left;}
.t-algin-c{text-align: center;}
.t-algin-r{text-align: right;}




/* frame */ 
.header{height: 34px;line-height: 34px;background: #f5f5f5;}
.header a{color: #ddd;background: url(../images/back.png) no-repeat center left;padding-left: 20px;font-size: 16px;}
.header a:hover{color: #666;text-decoration: underline;}



.banner{background:url(../images/banner_bg.jpg) no-repeat center;padding:100px 0 60px 0;-webkit-background-size: cover;background-size: cover;position: relative;}
.banner:before{content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background:rgba(38,146,200,.3);z-index: 1;}  
.banner .banner-in{position: relative;z-index: 2;}
.banner .my-pic{width: 120px;height: 120px;margin:0 auto;border:5px solid #fff;border-radius: 50%;overflow: hidden;background: #F6F4E0;}
.banner .my-pic img{width: 100%;}
.banner .fork-me{text-align: center;padding: 30px 0 10px 0;}
.banner .fork-me a{padding: 8px 30px;background: #f60;border:1px solid #f30;border-radius: 5px;color: #fff;}
.banner .describe{padding-top: 20px;color: #fff;text-align: center;}
.banner .follow{padding-top: 20px;color: #fff;text-align: center;}
.banner .follow a{display: inline-table;width: 36px;height: 36px;background: #ddd;border-radius: 50%;margin:0 5px;}



.main{padding-top: 20px;}
.main .sidebar{padding: 20px 0px 20px 20px;}
.main .sidebar ul{}
.main .sidebar ul li{padding: 10px 0;}
.main .sidebar ul a{color: #676767;padding-left: 20px;display: block;height: 34px;line-height: 34px;background: #f5f5f5;border-radius: 4px 0px 0px 4px;border:1px solid #eee;border-right: 0 none;position: relative;}
.main .sidebar ul li.active a,.main .sidebar ul a:hover{color: #000;background: #eee;border:1px solid #e5e5e5;border-right: 0 none;}
.main .sidebar ul li.active a:before{content: "";position: absolute;left: 2px;top: 9px;height: 16px;width: 2px;background: #2692c8;}
.main .content{height: 600px;position: relative;}
.main .content:before{content: "";position: absolute;left: 0;top: 0px;height: 100%;width: 1px;background: #ddd;} 


.footer{height: 50px;line-height: 50px;background: #000;color: #ccc;}


.home-page h1{text-align: center;line-height: 400px;color: #212121;}


.artic{}
.artic ul{}
.artic li{padding: 20px;border-top: 1px solid #eee;position: relative;}
.artic li:first-child{border-top: 0 none;}
.artic li:after{content: "";position: absolute;left: -5px;top: -5px;width: 8px;height: 8px;border-radius: 50%;border:1px solid #ddd;background: #fff;}
.artic li:hover:after{border:1px solid #2692c8;}
.artic li .title{padding: 20px;font-size: 18px;}
.artic li .title a{color: #353535;}
.artic li .title a:hover{color: #2692c8;}
.artic li .times{padding: 10px 20px;}
.artic li .describe{padding:10px 20px;line-height: 1.5;color: #787878;}
.artic li .detail{padding:10px 20px;}
.artic li .detail a{display:inline-table;background: #2692c8;color: #fff;padding:8px 40px;}


.page{height:100px;line-height: 100px;text-align: center;}
.page a{padding: 5px 10px;color: #333;margin:0 8px;font-size: 15px;}
.page a.active{background: #2692c8;color: #fff;}
.page a:hover{text-decoration: underline;background: #d5d5d5;}


.gotop{position: fixed;right: 10px;bottom: 60px;width: 50px;height: 50px;background: #e5e5e5 url(../images/gotop.png) no-repeat center;cursor: pointer;display: none;}
.gotop:hover{background-color: #d5d5d5;}



.about{}
.about .about-in{padding-top: 50px;width: 600px;margin: 0 auto;}
.about h1{text-align: center;line-height: 100px;color: #212121;}
.about p{text-align: center;line-height: 2;color: #212121;font-size: 12px;}
