<div class="artic-page"   auto-height>
	<div class="inner"> 
		<banner title="{{itemInfo[3].title}}" discribe="{{itemInfo[3].describe}}" bg="{{itemInfo[3].src}}" my-msg='{{systemNotice.title}}' my-msg-url='{{systemNotice.url}}'></banner>
		<div class="content">
			<div class="code row" ng-controller="codeLists"> 
				<ul>
					<li  ng-repeat="code in codes">
						<div class="item">
							<a href="{{code.url}}" target="_blank">
								<div class="img" style="background-image: url('{{code.src}}')"></div>
								<div class="title">{{code.title}}</div>
							</a>
							<div class="descr">{{code.discr}}</div>
							<div class="tag">{{code.tag}}</div>
						</div>
					</li> 
				</ul> 
			</div>
		</div>
	</div> 
</div>
<gotop scrolltop="100" scrollbox='.artic-page'></gotop>
