<div class="artic-page"   auto-height>
	<div class="inner">
		<banner title="{{itemInfo[2].title}}" discribe="{{itemInfo[2].describe}}" bg="{{itemInfo[2].src}}" my-msg='{{systemNotice.title}}' my-msg-url='{{systemNotice.url}}'></banner> 
		<div class="content">
			<div class="link" ng-controller="linkLists">
				<div class="item" ng-repeat="link in links">
					<div class="title">{{link.typeName}}</div>
					<ul>
						<li ng-repeat="li in link.list">
							<a href="{{li.url}}" target="_blank">{{li.title}}- ( {{li.discr}} )</a>
						</li> 
					</ul>
				</div> 
			</div>
		</div>
	</div> 
</div>
<gotop scrolltop="100" scrollbox='.artic-page'></gotop>
