<div class="detail" auto-height>  
	<div class="inner photo-detail">  
		<div class="goback" ng-click="goback()" title="返回"></div> 
		<h1>{{photo.typeName}} <span>( 共 <em>{{photo.list.length}}</em> 张 )</span></h1> 
		<div class="photo-menu">
			<div ng-click="autoPlay()">自动播放</div>
		</div> 
		<div class="content">   
			<div class="li" ng-repeat="li in photo.list" ng-click="showPic($index)">
				<div class="img">
					<img ng-src="{{li.src}}" alt="">
					<div class="title">{{li.title}}</div>
				</div> 
			</div> 
		</div>
	</div>
</div> 
<div class="picbox-bg" ng-show="isShow" ng-click="closePicBox()"></div>
<div class="picbox scale-fade" ng-show="isShow" picbox is-play="{{isplay}}" current="{{current}}" pic-length="getPicLen()"> 
	<div class="close" ng-click="closePicBox()"></div>
	<div class="content">
		<div class="prev"></div>
		<div class="next"></div>
		<ul>
			<li ng-repeat="li in photo.list">
				<img ng-src="{{li.src}}"> 
				<div class="title">{{li.title}}</div>
			</li>
		</ul>
	</div>
</div>
 
 
<gotop scrolltop="100" scrollbox='.detail'></gotop>