<div class="tool" ng-controller="tools">
	<div class="check flip-in" ng-show="checkShow" check-height >
		<h3>在线预览工具</h3>
		<div class="inner">
			<form name="toolForm" ng-submit="checkPwd()">
				<input type="text" name="yqm" placeholder="请输入邀请码" ng-model="pwd" required ng-minlength="4" ng-maxlength="6" auto-focus-input>
				<input type="submit" ng-disabled="toolForm.$invalid" value="登入"> 
			</form> 
		</div>
	</div>
	<div class="tool-in row scale-fade" ng-show="toolShow" tool-height>
		<div class="side col-3">
			<div class="img"><img ng-src="{{tools.src}}" alt=""></div>
			<div class="title">{{tools.itemName}}</div>
			<div class="describe">{{tools.describe}}</div>
		</div>
		<div class="content col-9">
			<div class="t"><div class="name"><span>共<em>{{len}}</em>个模板<span></span></span></div><div class="close" ng-click="close()" title="关闭"></div></div>
			<div class="c">
				<ul>
					<li ng-repeat="list in tools.list" show-active><a href="{{tools.urlPath}}{{list.url}}" target="_blank">{{list.title}}</a></li>
				</ul>
			</div>
		</div> 
	</div> 
</div>