.checkbox,
    .radio { 
        position: relative;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
        -webkit-backface-visibility: hidden;
    }
    /*.checkbox:hover,
    .radio:hover {
        color: #1abc9c; 
    }*/
    .checkbox input,
    .radio input {
        outline: none !important;
        opacity: 0;
        filter: alpha(opacity=0);
        zoom: 1;
    }
    .checkbox.checked .icon,
    .radio.checked .icon {
        background-position: -60px -30px;
        opacity: 1;
        display: block\9; 
    }
    .checkbox.checked .icon-to-fade,
    .radio.checked .icon-to-fade {
        opacity: 0;
        display: none\9; 
    }
    .checkbox.disabled,
    .radio.disabled {
        color: #d7dddd;
        cursor: default;
    }
    .checkbox.disabled .icon,
    .radio.disabled .icon {
        opacity: 0;
        display: none\9; 
    }
    .checkbox.disabled .icon-to-fade,
    .radio.disabled .icon-to-fade {
        background-position: -30px -60px;
        opacity: 1;
        display: block\9;
    }
    .checkbox.disabled.checked .icon,
    .radio.disabled.checked .icon {
        background-position: 0 -90px;
        opacity: 1;
        display: block\9;
    }
    .checkbox.disabled.checked .icon-to-fade,
    .radio.disabled.checked .icon-to-fade {
        opacity: 0;
        display: none\9; 
    }
    .checkbox .icon,
    .checkbox .icon-to-fade,
    .radio .icon,
    .radio .icon-to-fade {
        background: url("../images/checkbox.png") -90px 0 no-repeat;
        display: block;
        height: 20px;
        left: 0;
        opacity: 1;
        position: absolute;
        top: -1px;
        width: 20px;
        -webkit-transition: opacity 0.1s linear;
        -moz-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
        transition: opacity 0.1s linear;
        -webkit-backface-visibility: hidden; 
    }
    .checkbox .icon,
    .radio .icon {
        opacity: 0;
        top: 0;
        z-index: 2;
        display: none\9;
    }

    .radio .icon,
    .radio .icon-to-fade {
        background-image: url("../images/radio.png"); 
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
      .checkbox .icon {
        background-image: url("../images/checkbox-2x.png");
        /* background-image: url("../images/checkbox-2x.png"); */
        background-size: 110px 110px; }

      .radio .icon {
        background-image: url("../images/radio.png");
        /* background-image: url("../images/radio-2x.png"); */
        background-size: 110px 110px; } }