<div class="slide" ng-click="isSidebarClose()"></div>
<div class="userinfo">  
    <div class="img"> <img ng-src="{{userImg}}"> </div>
    <div class="username"> {{userName}} </div> 
</div>
<div class="share">
    <ul>
        <li>
            <a href="http://blog.csdn.net/qq_20992359" target="_blank" class="csdn" title="CSDN"></a>
        </li>
        <li>
            <a href="https://github.com/jackbuy" target="_blank" class="github" title="Github"></a>
        </li>
        <li>
            <a href="javascript:;;" class="qq" title="QQ:2538362801"></a>
        </li>
        <li>
            <a href="javascript:;;" class="wechat" title="微信:zhaozj_2538362801"></a>
        </li>
    </ul>
</div>
<div class="items" ng-controller="items">
    <ul>
        <li class="{{item.icon}}" ng-class="{active: $index==selected}" ng-repeat=" item in items" ng-click="isActives($index)">
            <a ui-sref='{{item.url}}'>{{item.name}}</a>
        </li>
    </ul>
</div>
<!-- <div class="copy">{{copyright}}</div> -->
