.product .con,
.solution .img,
.news .con,

.pro-interface-banner .img,
.pro-data-banner .img,

.cross-screen .pic01,
.cross-screen .pic02,

.device-part.hz .inner,
.device-part.kg .inner,
.device-part.mk .inner,
.device-part.api .inner
{opacity: 0;}



.amt {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* ---------------------------------------------------------------- */

.updown {
    -webkit-animation-name: updown;
    animation-name: updown;  
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes updown {
  0%{
    -webkit-transform: translateY(0px);
  }
  25%{
    -webkit-transform: translateY(-10px);
  }
  50%{
    -webkit-transform: translateY(0px);
  }
  75%{
    -webkit-transform: translateY(-10px);
  } 
  100%{
    -webkit-transform: translateY(0px);
  }
}
@keyframes updown {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-10px);
  } 
  100%{
    transform: translateY(0px);
  } 
}
 
/* ---------------------------------------------------------------- */

.slideup {
    -webkit-animation-name: slideup;
    animation-name: slideup;  
}

@-webkit-keyframes slideup {
  from { 
    -webkit-transform: translateY(0px);
  }
  
  to { 
    -webkit-transform: translateY(-180px);
  }
}
@keyframes slideup {
  from { 
    transform: translateY(0px);
  }
  
  to { 
    transform: translateY(-180px);
  }
}


/* ---------------------------------------------------------------- */

.slidedown {
    -webkit-animation-name: slidedown;
    animation-name: slidedown;  
}

@-webkit-keyframes slidedown {
  from { 
    -webkit-transform: translateY(-180px);
  }
  
  to { 
    -webkit-transform: translateY(0px);
  }
}
@keyframes slidedown {
  from { 
    transform: translateY(-180px);
  }
  
  to { 
    transform: translateY(0px);
  }
}


/* ---------------------------------------------------------------- */

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;  
}

@-webkit-keyframes fade-in {
  from { 
    opacity: 0; 
  }
  
  to { 
    opacity: 1; 
  }
}
@keyframes fade-in {
  from { 
    opacity: 0; 
  }
  
  to { 
    opacity: 1; 
  }
}


/* ---------------------------------------------------------------- */

.fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;  
}

@-webkit-keyframes fade-out {
  from { 
    opacity: 1; 
  }
  
  to { 
    opacity: 0; 
  }
}
@keyframes fade-out {
  from { 
    opacity: 1; 
  }
  
  to { 
    opacity: 0; 
  }
}

 

 