/***** css reset*****/ 
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
margin:0;padding:0;}
/* 要注意表单元素并不继承父级 font 的问题 */ 
body,button,input,select,textarea {font:14px/1 "微软雅黑",tahoma,arial,sans-serif;}
input,select,textarea {font-size:100%;}
/* 去掉各Table cell 的边距并让其边重合 */
table {border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align*/
th {text-align:inherit;}
/* 去除默认边框 */
fieldset,img {border:none;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {border:none;font-variant:normal;}
/* 一致的 del 样式 */
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
/* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {text-align:left;} 
/* 让链接在 hover 状态下显示下划线 */
a:hover {text-decoration:none;}
/* 默认不显示下划线，保持页面简洁 */
ins,a {text-decoration:none;}
/* IE6,7焦点点状线去除 */
a:focus,*:focus {outline:none;}
/* 清除浮动 */
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1; /* for IE6 IE7 */}
.clear{clear:both;display:block;overflow:hidden;height:0;line-height:0;font-size:0;}  
/*箭头向下的三角形*/
.arrowBot {border-color:  #666 transparent transparent; border-style: solid dashed dashed ; border-width: 4px; height: 0; position: absolute; right: 5px; top: 11px; width: 0; }
 /*箭头向上的三角形*/ 
.arrowTop {border-color: transparent transparent #333; border-style: dashed dashed solid; border-width: 6px; height: 0; position: absolute; right: 12px; top: -4px; width: 0; }
/* palceholder默认样式 */
::-webkit-input-placeholder { /* WebKit browsers */
color:#ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:#ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color:#ccc;
}

/*****css common*****/ 
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    ::-webkit-scrollbar
    {
        width: 4px;
        height: 4px;
        background-color: #F5F5F5;
    }
    
    /*定义滚动条轨道 内阴影+圆角*/
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 0px;
        background-color: #f5f5f5;
    }
    
    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb
    {
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #bbb;
        &:hover{
            background-color: #666;
        }
    }