.bg{position:absolute;left: 0;top: 0;width: 100%;height: 100%;background:#adadad url(../images/bg.jpg) no-repeat center;z-index: 1;/* -webkit-background-size: 100%  100%;background-size: 100% 100%; */}
.mask{position:absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,.2);z-index: 1;}


.container{position: absolute;left: 50%;top: 50%;width: 800px;height:320px;background: #666;background:rgba(0,0,0,.5);margin-left: -400px;margin-top: -160px;z-index: 2;}
.container .tit{font-size: 30px;height: 120px;line-height:120px;text-align: center;color: #fff;}
.container .con{height: 80px;}
.container .con .project-name{width: 100%;height:80px;background: #aaa;background: rgba(255,255,255,.3);text-align: center;color: #fff;line-height: 80px;font-size: 20px;}
.container .btn{height: 120px;}
.container .btn a{display: block;margin:40px auto;width: 300px;height:40px;line-height: 40px;background: #f93;text-align: center;color: #fff;font-size: 16px;-webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;} 
.container .btn a:hover{background: #f63;}
.container .btn a.disable,.container .btn a.disable:hover{background: #E9C4A9;cursor:default; }



.footer{position: absolute;left: 0;bottom: 20px;width: 100%;height: 30px;line-height: 30px;color: #fff;text-align: center;font-size: 12px;z-index: 4;}
.footer span,.footer a{padding: 0 10px;color: #fff;}
.footer a:hover{text-decoration: underline;}




.newMask{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;display: none;}
.newMask .newMask-bg{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #aaa;background:rgba(0,0,0,.8);}
.newMask .con{position: absolute;top: 50%;left: 50%;width: 1020px;height: 491px;margin-left: -510px;margin-top: -246px;background: #111;background:rgba(0,0,0,.8);}
.newMask .con .side{float: left;width: 240px;background: #eee;height: 491px;}
.newMask .con .side .img{width: 90px;height: 90px;border-radius: 50px;overflow: hidden;margin:50px auto;background: #fff;box-shadow: 0 7px 18px #bbb;}
.newMask .con .side .img img{width:100%;}
.newMask .con .side .title{text-align: center;font-size: 13px;} 
.newMask .con .side .describe{padding: 30px;font-size: 12px;color: #333;text-align: center;}
.newMask .con .content{float: left;width: 780px;height: 491px;}
.newMask .con .content .t{height: 40px;line-height: 40px;background: #333;background:rgba(255,255,255,.3);color: #bcbcbc;padding-left:40px;font-size: 12px;background:url('../images/folder.png') no-repeat 12px center;position: relative;}
.newMask .con .content .t .close{position: absolute;top: 0;right: 0;width: 40px;height: 40px;background:url('../images/close.png') no-repeat center;cursor: pointer;}
.newMask .con .content .t .close:hover{background-image: url('../images/close_hover.png');}
.newMask .con .content .t em{padding: 0 3px;}
.newMask .con .content .c{height: 451px;overflow-x: hidden;overflow-y: auto;}
.newMask .con .content li{line-height: 40px;margin-top: 1px;background:rgba(255,255,255,.1);position: relative;} 
.newMask .con .content li a{color: #eee;display: block;padding-left: 40px;font-size: 12px;background:url('../images/view.png') no-repeat 12px center;-webkit-transition: all 0.3s; -o-transition: all 0.3s;transition: all 0.3s;}
.newMask .con .content li a:hover{color: #fff;background:rgba(255,255,255,.2) url('../images/view_active.png') no-repeat 12px center;}
.newMask .con .content li.active a{color: #f00;background:url('../images/view_active.png') no-repeat 12px center;}